@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121928;
  --foreground: #ffffff;
  --primary: #ff9921;
  --secondary: #fffdfb;
  --text-primary: #fafafb;
  --text-secondary: #8e8e8e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* scrollbar styling */
::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  display: none;
  transition: all 0.3s ease-in-out;
}

:hover::-webkit-scrollbar-thumb {
  display: block;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

::-webkit-scrollbar {
  width: 10px;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

::-webkit-scrollbar:vertical {
  width: 5px;
}
